<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/* video/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/* video/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        tools:node="merge"
        tools:targetApi="m">
        <activity
            android:name=".shared.views.mediaviewer.CometChatImageViewerActivity"
            android:exported="false"
            android:theme="@style/UiKit.Internal.Theme.Transparent2" />
        <activity
            android:name=".shared.permission.CometChatPermissionActivity"
            android:theme="@style/UiKit.Internal.Theme.Transparent" />
        <activity
            android:name=".calls.CometChatCallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".extensions.collaborative.CometChatWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".calls.CometChatOngoingCallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true" />

        <meta-data
            android:name="com.cometchat.chatuikit"
            android:value="${applicationId}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>